
* {
  font-size: 1rem;
  box-sizing: border-box;
  font-family: 'Raleway', sans-serif;
}

body {
  margin: 0;
  height: 100vh;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
#root {
  height: 100%;
}

.grid-container {
  display: grid;
  grid-template-areas: 
  'header'
  'main'
  'footer';
  grid-template-columns: 1fr;
  grid-template-rows: 7rem 1fr 3rem;
  height: 100%;
}

header {
  grid-area: header;
  background-color: #e29578;
}

main {
  grid-area: main;
  padding: 1rem;
}

footer {
  grid-area: footer;
  background-color: #e29578;
  color: #edf6f9;
}

.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.row.center {
  justify-content: center;
}

header a {
  text-decoration: none;
  color: white;
 
  font-size: 1.2rem;
  padding: 1rem;
}

header a:hover{
  color:#83c5be;
  transition: 0.5s;
}

.logo {
font-size: 2.5rem;
font-family: 'Quicksand', sans-serif;
font-weight: 400;
}

.fa-bread-slice {
  font-size: 2em;
  color: white;
}

.fa-bread-slice:hover {
  color:#83c5be;
  transition: 0.5s;
}

img.medium {
 max-width: 20rem;
 width: 100%;
}

/* cards */
.price {
font-weight: 600;
font-family: 'Quicksand', sans-serif;
font-size: 1.3em;
}

.card {
  box-shadow: 7px 10px 21px 0px rgba(0,0,0,0.06);
  -webkit-box-shadow: 7px 10px 21px 0px rgba(0,0,0,0.06);
  -moz-box-shadow: 7px 10px 21px 0px rgba(0,0,0,0.06);
  padding: 2em;
  background-color: white;
  margin: 1em;
}
.card-body > * {
  margin-top:1em;
}


main {
  background-color: #fff7f5
}

.card-body a{
  text-decoration: none;
  color: #006d77;
}

.card-body a:hover{
  text-decoration: none;
  color: #63b7be;
  transition: 0.5s;
}
/* fonts */

h1 {
  font-size: 2rem;
  padding: 1rem 0;
  font-family: 'Quicksand', sans-serif;
}

h2 {
  font-size: 1.3rem;
  font-family: 'Quicksand', sans-serif;
}

/*rating*/

.rating {
  color: #40afb9;
  
}

.rating i {
  padding: 0.2em;
  font-size: 1.1em;
}


ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}
li {
  margin-top: 1rem;
}
button {
  padding: 1rem;
  border-radius: 50px;
  border: none;
  font-size: 1.6rem;
  font-family: Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #f8f8f8;
  cursor: pointer;
  font-family: 'Quicksand', sans-serif;
}
button:hover {
  border: 0.1rem #404040 solid;
}
button.primary {
  background-color: #83c5be;
}
button.block {
  width: 100%;
}

.row.top {
  align-items: flex-start;
}
.col-1 {
  flex: 1 1 25rem;
}
.col-2 {
  flex: 2 1 50rem;
}

img.large {
  width: 80%;
}

.success {
  color: #20a020;
}
.danger {
  color: #cf4848;
  font-weight: 700;
}

.boxed-content {
  max-width: 1200px;
  margin: 0 auto;
}

.alert {
  padding: 1rem;
  border: 0.1rem solid transparent;
  border-radius: 0.5rem;
}
.alert-info {
  color: #2020a0;
  background-color: #e0e0ff;
}
.alert-danger {
  color: #a02020;
  background-color: #ffe0e0;
}